version: "3.7"

services:
  web:
    image: backend:local
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/src/app/
    env_file:
      - .env
    ports:
      - 8000:80
    depends_on:
      db:
        condition: service_healthy
    networks:
      - intranet
    restart: always
  db:
    image: postgres:latest
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        timeout: 10s
        interval: 10s
        retries: 10
    environment:
      POSTGRES_DB: test_db
      POSTGRES_PASSWORD: test_pass
      POSTGRES_USER: postgres
    ports:
      - 5432:5432
    networks:
      - intranet

networks:
  intranet:
    driver: bridge

